@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family: 'Lato', sans-serif;
	padding-top: 20px;
	line-height: 2;
}

.navbar-default{
	background-color: transparent;
	border-color: transparent;
}

.navbar-footer{
	background-color: #bcbca9;
}
.search{
	margin-top: 40px;
}

.img-sc{
	width: 120px;
	height: auto;
}

.form-control:focus {
	border-color: #000;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.75), 0 0 0 rgba(102,175,223,.6);
	box-shadow: inset 0 0 0 rgba(0,0,0,0.75), 0 0 0 rgba(102,175,223,.6);
}

.shop{
	position: relative;
	text-align: center;
	color: white;
}

.shops{
	position: relative;
	text-align: center;
	color: white;
	padding-right: 0 !important;
}
.centered{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.left{
	position: absolute;
	top: 80%;
	left: 20%;
}

.center{
	position: absolute;
	top: 85%;
	left: 40%;
}

.right{
	position: absolute;
	top: 80%;
	left: 20%;
}

.big{
	font-size: 25px;
	color: white;

}

.big a{
	color: white;
}

.hd {
	font-size: 25px;
	color : black;

}

.find{
	margin-bottom: 20px;
}

.medsos li{
	display: inline;
	margin-right: 35px;
} 
.medsos{
	padding: 0;
}

.category{
	list-style: none;
}

.category li a{
	color: black;
	font-size: 20px;
}

.space{
	margin-top: 50px;
}

.space-10{
padding-bottom: 30px;
}

.space-20{
	margin-right: 30px
}

.space-30{
	margin-bottom: 30px;
}

.space-40{
	padding-bottom: 80px;
}

.space-0{
	margin-bottom: -15px;
}